# -----------------------------------------------------------------------------
# Base URL of the application
# -----------------------------------------------------------------------------
VITE_BASE_URL='http://localhost:3000'

# -----------------------------------------------------------------------------
# Auth (Better Auth)
# Generate a secret key: `pnpm dlx @better-auth/cli@latest secret`
# -----------------------------------------------------------------------------
BETTER_AUTH_SECRET=''
# -----------------------------------------------------------------------------
# Google OAuth
# -----------------------------------------------------------------------------
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

# -----------------------------------------------------------------------------
# Mail (Resend)
# -----------------------------------------------------------------------------
RESEND_API_KEY=''

# -----------------------------------------------------------------------------
# Notification (Discord and Feishu)
# -----------------------------------------------------------------------------
DISCORD_WEBHOOK_URL=''
FEISHU_WEBHOOK_URL=''

# -----------------------------------------------------------------------------
# Payment (Stripe)
# -----------------------------------------------------------------------------
STRIPE_SECRET_KEY=''
STRIPE_WEBHOOK_SECRET=''
VITE_STRIPE_PRICE_PRO_MONTHLY=''
VITE_STRIPE_PRICE_PRO_YEARLY=''
VITE_STRIPE_PRICE_LIFETIME=''

# -----------------------------------------------------------------------------
# Chatbot (Crisp Chat)
# -----------------------------------------------------------------------------
VITE_CRISP_WEBSITE_ID=''

# -----------------------------------------------------------------------------
# Affiliate (Affonso)
# -----------------------------------------------------------------------------
VITE_AFFILIATE_AFFONSO_ID=''
# -----------------------------------------------------------------------------
# Affiliate (PromoteKit)
# -----------------------------------------------------------------------------
VITE_AFFILIATE_PROMOTEKIT_ID=''

# -----------------------------------------------------------------------------
# Analytics (Plausible)
# -----------------------------------------------------------------------------
VITE_PLAUSIBLE_SCRIPT=''
